---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Chief Technology Officer",
    company: "Purpura Development",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Actualmente...",
    title: "Principal Frontend Engineer",
    company: "SociosConectados",
    description:
      "Responsable de la plataforma, componentes y utilidades para hacer de esta web una red social muy llamativa con puntos por cada accion en el sitio.",
  },
  {
    date: "Actualmente...",
    title: "Secondary Website Manager",
    company: "EstrellaServices",
    description:
      "Compartiendo con ustedes una mejor forma de poder adquirir nuestros productos digitales, como Community Management y mas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
